aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
amqp
asgiref
attrs
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coreapi
coreschema
cron-descriptor
dj-database-url
Django
django-cors-headers
django-filter
django-timezone-field
djangorestframework
djangorestframework-simplejwt
drf-yasg
et-xmlfile
frozenlist
geographiclib
geopy
idna
inflection
itypes
Jinja2
kombu
MarkupSafe
multidict
numpy
openapi-codec
openpyxl
packaging
pandas
pillow
prompt-toolkit
psycopg2-binary
PyJWT
pypng
python-crontab
python-dateutil
pytz
PyYAML
qrcode
redis
requests
simplejson
six
sqlparse
twilio
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
yarl
